<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/index.js"></script>
</head>
<body>
<img src="img/imagen1.jpg" alt="">
<h1>Pagina Index</h1>

<p th:text="'Hola '+${name}"></p>
<!-- formulario -->
<form action="" method="post">
    <input type="text" name="nombre" placeholder="nombre">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Enviar">
</form>
<!-- mensaje de si te logueas correcta o incorrectamente -->
<div th:if="${msg}">
    <p>Usuario o Contraseña incorrecto</p>
</div>
<!-- botón -->
<button id="btnPedirDatos">Pedir datos</button>
<!-- LISTA-->
<ul id="lista"></ul>

<hr>
<!--Inputs tipo formulario alumno-->
<input type="number" name="" id="idalumno" placeholder="idalumno">
<input type="text" id="nombre" placeholder="nombre">
<input type="text" id="apellidos" placeholder="apellidos">
<input type="number" name="" id="edad" placeholder="edad">
<button id="btnEnviarAlumno">Enviar Alumno</button>
<!-- Formulario para crear tarea-->
<form action="tarea" method="post">
    <input type="number" name="id" >
    <input type="text" name="titulo" >
    <input type="text" name="descripcion" >
    <input type="date" name="fecha" >
    <input type="submit" value="Nueva tarea">
</form>
</body>
</html>